.sidebar {
    grid-area: sidebar;
    background-color: hsl(265, 100%, 86%);
    border-left: 1px solid hsl(265, 100%, 56%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar__item {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: hsl(265, 100%, 86%);
    padding: 1rem;
    position: relative;
    transition: background-color 150ms;

    &:hover,
    &:focus {
        background-color: hsl(265, 100%, 76%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 0;
        height: 1px;
        background-color: hsl(265, 100%, 46%);
    }
    &:last-child:after{
        display: none;
    }
}

.active {
    background-color: hsl(265, 100%, 70%);
}